@use 'variables';

html{
    font-size: 62.5%;
    box-sizing: border-box; /* AGREGAR SIEMPRE*/
    //color: variables.$blanco;

}
*, *:before, *:after {
    box-sizing: inherit; /* AGREGAR SIEMPRE*/   
}
body{
    //font-family: variables.$fuente_principal;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    //line-height: 2;
}
/*GLOBALES*/
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto; 

}
p{
    color: variables.$negro;
    font-size: 2rem;
}
a{
    text-decoration: none;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
img{
    max-width: 100%;
    display: block;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.padding-6{
    padding: 0 6rem 0 6rem;
}
.margin-bottom{
    margin-bottom: 2rem;
}
.font-size-4{
    font-size: 4.3rem;
}
.centrar-texto{
    text-align: center;
}
.justificar-texto{
    text-align: justify;
}