@use 'base/variables' as v;
@use 'base/mixins' as m;

.producto{
    @include m.tablet{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        
    }
}
.producto__informacion{
    background-color: v.$azul;
    padding: 5rem 0 5rem 0;
    h2{
        color: v.$blanco;
    }
    p{
        color: v.$blanco;
        margin: 0;
    }
    @include m.tablet{
        padding-top: 5rem;
    }
    
}
.producto__imagen{
    @include m.tablet{
        grid-column-start: 1;
        grid-row-start: 1;
        
    }
    
}